In [2]:
import numpy as np
import pandas as pd

In [3]:
ruta="D:\python\datos_meteorologicos.csv"
df = pd.read_csv(ruta)
df

           Fecha  Temperatura  Precipitación    Humedad
0     01/01/2010    17.440675      10.957482  52.384637
1     02/01/2010    25.759468       5.315628  30.633530
2     03/01/2010    20.138169      15.317706  41.496715
3     04/01/2010    17.244159      13.151008  90.684704
4     05/01/2010    11.182740      16.413667  22.116422
...          ...          ...            ...        ...
5105  24/12/2023    -9.554692      12.700998  50.094533
5106  25/12/2023     2.837831       5.475686  92.456057
5107  26/12/2023    29.873597       4.615012  18.362847
5108  27/12/2023          NaN            NaN        NaN
5109  28/12/2023    37.308043       7.330510  50.646211

[5110 rows x 4 columns]

In [4]:
df.head()

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

In [6]:
df.describe()

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [9]:
temperatura = df["Temperatura"].to_numpy()
precipitacion = df["Precipitación"].to_numpy()
humedad = df["Humedad"].to_numpy()

temperatura

array([17.4406752 , 25.75946832, 20.1381688 , ..., 29.87359717,
               nan, 37.30804318])

In [10]:
temp_nulo = np.isnan(temperatura)
prep_nulo = np.isnan(precipitacion)
hume_nulo = np.isnan(humedad)
temp_nulo

array([False, False, False, ..., False,  True, False])

In [14]:
#Identificar el promedio de cada array
temp_promedio = np.nanmean(temperatura)
prep_promedio = np.nanmean(precipitacion)
hume_promedio = np.nanmean(humedad)
#Reemplazar los valores nulos con el promedio del array
temperatura[temp_nulo] = temp_promedio
precipitacion[prep_nulo] = prep_promedio
humedad[hume_nulo] = hume_promedio
temperatura

array([17.4406752 , 25.75946832, 20.1381688 , ..., 29.87359717,
       14.88929572, 37.30804318])

In [15]:
#abordaje alternativo para lograr el mismo resultado
temp_corregido = np.where(np.isnan(temperatura), temp_promedio, temperatura)
temp_corregido

array([17.4406752 , 25.75946832, 20.1381688 , ..., 29.87359717,
       14.88929572, 37.30804318])

In [16]:
temp_promedio = np.nanmean(temperatura)
temp_promedio

14.889295723531713

In [17]:
prep_total = np.sum(precipitacion)
prep_total

50597.19438939993

In [18]:
hume_maxima= np.max(humedad)
hume_maxima

99.99658156071747

In [20]:
#identificar dia con mayor calor
mas_calor = np.max(temperatura)
mas_calor

39.99820092713012

In [21]:
#encontrar el dia mas caluroso
mas_caluroso = np.where(temperatura == mas_calor )[0][0]
mas_caluroso

2749

In [22]:
#fecha mas calurosa
fecha_mas_calurosa = df.iloc[mas_caluroso]["Fecha"]
fecha_mas_calurosa

'12/07/2017'

In [24]:
fecha_mas_fria = df.iloc[np.where(temperatura == np.min(temperatura))[0][0]]["Fecha"]
fecha_mas_fria

'23/07/2020'

In [26]:
#Crear archivo en un DataFrame con los resultados
resultados = pd.DataFrame({
    "Metrica": ["Temperatura Promedio", "Precipitacion Total", "Humedad Maxima", "Dia mas caluroso", "Dia mas frio"],
    "Valor": [temp_promedio, prep_total, hume_maxima, fecha_mas_calurosa, fecha_mas_fria]
})
resultados.to_csv("D:\python\Resltado de analisis meteorologico.csv", index=False)