In [1]:
import numpy as np
import pandas as pd
import time

In [2]:
ruta="D:\python\Ciudades_Visitadas_Latinoamerica_2023.csv"
df = pd.read_csv(ruta)
df

              Ciudad       País  Población  Visitantes
0   Ciudad de México     México    9265833    21000000
1       Buenos Aires  Argentina    3059574    15000000
2     Río de Janeiro     Brasil    6748314    13000000
3               Lima       Perú    9756020     9000000
4             Bogotá   Colombia    7181663     8000000
5  Santiago de Chile      Chile    6199241     7500000
6          São Paulo     Brasil   12333146    20000000
7          La Habana       Cuba    2164182     4000000
8             Cancún     México     888124     5000000
9          Cartagena   Colombia    1036671     3000000

In [3]:
df["Población"].mean()

5863276.8

In [4]:
np.round(df["Población"].mean())

5863277.0

In [5]:
np.min(df["Visitantes"])

3000000

In [6]:
np.max(df["Visitantes"])

21000000

In [7]:
mi_array = np.array([1,2,3,4,5])
mi_array

array([1, 2, 3, 4, 5])

In [8]:
type(mi_array)

numpy.ndarray

In [9]:
lista_grande = list(range(1000000))
array_grande= np.array(lista_grande)

In [10]:
type(lista_grande)

list

In [11]:
type(array_grande)

numpy.ndarray

In [13]:
inicio_lista = time.time()
for i in lista_grande:
    i**2
fin_lista = time.time()
print("Tiempo_lista:", fin_lista-inicio_lista)

Tiempo_lista: 0.40619468688964844

In [15]:
inicio_array = time.time()
array_grande ** 2
fin_array = time.time()
print("Tiempo_lista:", fin_array-inicio_array)

Tiempo_lista: 0.0015749931335449219

In [16]:
array= np.array([1,2,3])

In [17]:
len(array)

3

In [18]:
array.shape

(3,)

In [19]:
array_2d = np.array([[1,2,3],[4,5,6]])
array_2d

array([[1, 2, 3],
       [4, 5, 6]])

In [20]:
len(array_2d)

2

In [22]:
array_2d.shape

(2, 3)

In [ ]:
import numpy as np
import pandas as pd
import time

array_enteros = np.array(range(1,11))

In [23]:
import numpy as np

In [24]:
x=[1,2,3]
y=[1,2,3]
z=[1,2,3]

In [25]:
np.concatenate([x,y,z])

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [26]:
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]

In [27]:
np.concatenate([a,b], axis=1)

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [28]:
np.concatenate([a,b], axis=0)

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [29]:
array_concatenado= np.concatenate([a,b], axis=0)
array_concatenado

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [30]:
array_reshape = array_concatenado.reshape(2,4)
array_reshape

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [31]:
array_sumado= array_reshape + array_reshape
array_sumado

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16]])

In [32]:
array_multiplicado = array_reshape * array_reshape
array_multiplicado

array([[ 1,  4,  9, 16],
       [25, 36, 49, 64]])

In [35]:
raices = np.sqrt(array_multiplicado)
raices

array([[1., 2., 3., 4.],
       [5., 6., 7., 8.]])

In [36]:
import numpy as np

In [37]:
array1d = np.array([1,2,3,4,5])

In [39]:
array2d = np.array(
    [[1,2,3],
    [4,5,6],
    [7,8,9]]
)

In [40]:
array1d[0]

1

In [41]:
array1d[-1]

5

In [42]:
array2d[0]

array([1, 2, 3])

In [44]:
array2d[1][2]

6

In [45]:
array2d[1,2]

6

In [46]:
array1d[1:4]

array([2, 3, 4])

In [47]:
array2d[1][0:2]

array([4, 5])

In [48]:
array2d[1, :]

array([4, 5, 6])

In [49]:
array2d[:,1]

array([2, 5, 8])

In [52]:
array2d[:2,:2]

array([[1, 2],
       [4, 5]])

In [54]:
#indexacion booleana
array1d>3

array([False, False, False,  True,  True])

In [55]:
array2d%2 ==0

array([[False,  True, False],
       [ True, False,  True],
       [False,  True, False]])

In [58]:
import numpy as np

numeros = np.array(range(1,11))
quinto_elemento= numeros[4]
quinto_elemento

5

In [59]:
import numpy as np

In [61]:
array = np.array(range(1,10))
array

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [62]:
array.shape

(9,)

In [64]:
array_modificado= array.reshape(3,3)
array_modificado

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

qawe

In [65]:
array_mod2= array.reshape(-1,3)
array_mod2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [66]:
array_volteado=array_mod2.transpose()
array_volteado

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [67]:
array_chato= array_modificado.flatten()
array_chato

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [1]:
import numpy as np

In [3]:
array1 = np.array([1,2,3])
array1

array([1, 2, 3])

In [5]:
array2 = np.array([[0],[10],[20],[30]])
array2

array([[ 0],
       [10],
       [20],
       [30]])

In [6]:
broadcast_suma = array2+array1
broadcast_suma

array([[ 1,  2,  3],
       [11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [7]:
broadcast_multi = array2 * array1
broadcast_multi

array([[ 0,  0,  0],
       [10, 20, 30],
       [20, 40, 60],
       [30, 60, 90]])

In [8]:
a=np.array([1,2,3])
b=np.array([4,5,6])

In [9]:
resultado = np.add(a,b)
resultado

array([5, 7, 9])

In [10]:
resultado2=np.exp(a)
resultado2

array([ 2.71828183,  7.3890561 , 20.08553692])

In [11]:
resultado3=np.log(a)
resultado3

array([0.        , 0.69314718, 1.09861229])

In [14]:
resultado4=np.log10(a)
resultado4

array([0.        , 0.30103   , 0.47712125])

In [15]:
resultado5=np.sqrt(a)
resultado5

array([1.        , 1.41421356, 1.73205081])

In [16]:
import numpy as np

In [17]:
array = np.array([1,2,np.nan,4,5])
array

array([ 1.,  2., nan,  4.,  5.])

In [18]:
np.isnan(array)

array([False, False,  True, False, False])

In [19]:
np.mean(array)

nan

In [20]:
np.nanmean(array)

3.0

In [22]:
array_con_0 = np.where(np.isnan(array), 0, array)
array_con_0

array([1., 2., 0., 4., 5.])

In [24]:
promedio = np.nanmean(array)
array_con_promedio = np.where(np.isnan(array), promedio, array)
array_con_promedio

array([1., 2., 3., 4., 5.])

In [25]:
array_filtrado = array[~np.isnan(array)]
array_filtrado

array([1., 2., 4., 5.])

In [ ]:
import numpy as np

In [26]:
ruta= "D:\python\medallas.csv"

In [27]:
array = np.genfromtxt(ruta)
array

ValueError: Some errors were detected !
    Line #15 (got 2 columns instead of 1)
    Line #17 (got 2 columns instead of 1)
    Line #20 (got 2 columns instead of 1)
    Line #22 (got 2 columns instead of 1)
    Line #24 (got 2 columns instead of 1)
    Line #27 (got 4 columns instead of 1)
    Line #36 (got 2 columns instead of 1)
    Line #39 (got 3 columns instead of 1)
    Line #44 (got 4 columns instead of 1)
    Line #63 (got 2 columns instead of 1)
    Line #65 (got 2 columns instead of 1)
    Line #70 (got 2 columns instead of 1)
    Line #72 (got 3 columns instead of 1)
    Line #73 (got 3 columns instead of 1)
    Line #74 (got 4 columns instead of 1)
    Line #77 (got 2 columns instead of 1)
    Line #78 (got 2 columns instead of 1)
    Line #82 (got 2 columns instead of 1)
    Line #86 (got 3 columns instead of 1)

In [28]:
array = np.genfromtxt(ruta, delimiter=",")
array

array([[ nan,  nan,  nan,  nan,  nan],
       [ nan,   1.,   2.,   3.,  nan],
       [ nan,   2.,   2.,   4.,  nan],
       [ 17.,   7.,  22.,  46.,  nan],
       [  1.,   1.,   5.,   7.,  nan],
       [ nan,   3.,   4.,   7.,  nan],
       [  2.,  nan,  nan,   2.,  nan],
       [ nan,   1.,  nan,   1.,  nan],
       [  1.,   3.,   3.,   7.,  nan],
       [  3.,   1.,   3.,   7.,  nan],
       [  1.,  nan,  nan,   1.,  nan],
       [ nan,  nan,   1.,   1.,  nan],
       [  7.,   6.,   8.,  21.,  nan],
       [  3.,   1.,   2.,   6.,  nan],
       [ nan,  nan,   1.,   1.,  nan],
       [  7.,   6.,  11.,  24.,  nan],
       [  2.,   4.,   6.,  12.,  nan],
       [ nan,   4.,   1.,   5.,  nan],
       [  3.,   3.,   2.,   8.,  nan],
       [ nan,  nan,   1.,   1.,  nan],
       [  7.,   3.,   5.,  15.,  nan],
       [  4.,   4.,   3.,  11.,  nan],
       [  3.,   4.,   4.,  11.,  nan],
       [ nan,   3.,   2.,   5.,  nan],
       [  2.,   1.,  nan,   3.,  nan],
       [  1.,   1.,   4.,   6.,  nan],
       [ 39.,  41.,  33., 113.,  nan],
       [  1.,  nan,   1.,   2.,  nan],
       [  1.,   1.,   2.,   4.,  nan],
       [  1.,  nan,   1.,   2.,  nan],
       [ nan,  nan,   2.,   2.,  nan],
       [  1.,  12.,  11.,  33.,  nan],
       [  2.,   5.,   1.,   8.,  nan],
       [  1.,  11.,  16.,  37.,  nan],
       [ nan,  nan,   1.,   1.,  nan],
       [ 22.,  21.,  22.,  65.,  nan],
       [  2.,   1.,   1.,   4.,  nan],
       [ nan,  nan,   1.,   1.,  nan],
       [ nan,   2.,   3.,   6.,  nan],
       [  6.,   7.,   7.,   2.,  nan],
       [  1.,   2.,   4.,   7.,  nan],
       [  1.,   1.,   3.,   5.,  nan],
       [  2.,  nan,   2.,   4.,  nan],
       [  3.,   2.,   2.,   7.,  nan],
       [  2.,  nan,   2.,   4.,  nan],
       [  1.,   1.,   2.,   4.,  nan],
       [  4.,   1.,   4.,   9.,  nan],
       [ 27.,  14.,  17.,  58.,  nan],
       [ nan,   1.,   1.,   2.,  nan],
       [ nan,  nan,   8.,   8.,  nan],
       [  4.,   4.,   2.,   1.,  nan],
       [  2.,  nan,  nan,   2.,  nan],
       [ nan,  nan,   1.,   1.,  nan],
       [ nan,   2.,   1.,   3.,  nan],
       [  1.,  nan,   1.,   2.,  nan],
       [ nan,   1.,  nan,   1.,  nan],
       [ nan,   1.,   1.,   2.,  nan],
       [ nan,  nan,   4.,   4.,  nan],
       [ nan,   1.,   3.,   4.,  nan],
       [  1.,  nan,  nan,   1.,  nan],
       [ nan,   1.,  nan,   1.,  nan],
       [  1.,  12.,  14.,  36.,  nan],
       [  7.,   6.,   7.,   2.,  nan],
       [ nan,   1.,   1.,   2.,  nan],
       [ nan,   1.,  nan,   1.,  nan],
       [  4.,   2.,   2.,   8.,  nan],
       [  1.,   2.,   1.,   4.,  nan],
       [  4.,   5.,   5.,  14.,  nan],
       [  1.,   1.,   2.,   4.,  nan],
       [  1.,  nan,  nan,   1.,  nan],
       [  2.,  nan,   1.,   3.,  nan],
       [  6.,   4.,   1.,   2.,  nan],
       [ nan,  nan,   1.,   1.,  nan],
       [ 38.,  32.,  18.,  88.,  nan],
       [  2.,  28.,  23.,  71.,  nan],
       [  1.,   3.,  nan,   4.,  nan],
       [ nan,   1.,   2.,   3.,  nan],
       [ nan,   1.,  nan,   1.,  nan],
       [  3.,   1.,   5.,   9.,  nan],
       [  1.,   2.,   1.,   4.,  nan],
       [  3.,   1.,   1.,   5.,  nan],
       [  1.,   2.,  nan,   3.,  nan],
       [  3.,   8.,   6.,  17.,  nan],
       [  3.,   6.,  nan,   9.,  nan],
       [  3.,   4.,   6.,  13.,  nan],
       [ nan,  nan,   1.,   1.,  nan],
       [  1.,  nan,   1.,   2.,  nan],
       [  1.,   1.,  nan,   2.,  nan],
       [  2.,   2.,   9.,  13.,  nan],
       [ nan,   1.,  nan,   1.,  nan],
       [  2.,   1.,   1.,   4.,  nan],
       [  1.,   6.,  12.,  19.,  nan],
       [  3.,  nan,   2.,   5.,  nan],
       [  1.,   3.,  nan,   4.,  nan]])

In [30]:
array = np.genfromtxt(ruta, delimiter=",", filling_values=0)
array

array([[  0.,   0.,   0.,   0.,   0.],
       [  0.,   1.,   2.,   3.,   0.],
       [  0.,   2.,   2.,   4.,   0.],
       [ 17.,   7.,  22.,  46.,   0.],
       [  1.,   1.,   5.,   7.,   0.],
       [  0.,   3.,   4.,   7.,   0.],
       [  2.,   0.,   0.,   2.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  1.,   3.,   3.,   7.,   0.],
       [  3.,   1.,   3.,   7.,   0.],
       [  1.,   0.,   0.,   1.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  7.,   6.,   8.,  21.,   0.],
       [  3.,   1.,   2.,   6.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  7.,   6.,  11.,  24.,   0.],
       [  2.,   4.,   6.,  12.,   0.],
       [  0.,   4.,   1.,   5.,   0.],
       [  3.,   3.,   2.,   8.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  7.,   3.,   5.,  15.,   0.],
       [  4.,   4.,   3.,  11.,   0.],
       [  3.,   4.,   4.,  11.,   0.],
       [  0.,   3.,   2.,   5.,   0.],
       [  2.,   1.,   0.,   3.,   0.],
       [  1.,   1.,   4.,   6.,   0.],
       [ 39.,  41.,  33., 113.,   0.],
       [  1.,   0.,   1.,   2.,   0.],
       [  1.,   1.,   2.,   4.,   0.],
       [  1.,   0.,   1.,   2.,   0.],
       [  0.,   0.,   2.,   2.,   0.],
       [  1.,  12.,  11.,  33.,   0.],
       [  2.,   5.,   1.,   8.,   0.],
       [  1.,  11.,  16.,  37.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [ 22.,  21.,  22.,  65.,   0.],
       [  2.,   1.,   1.,   4.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  0.,   2.,   3.,   6.,   0.],
       [  6.,   7.,   7.,   2.,   0.],
       [  1.,   2.,   4.,   7.,   0.],
       [  1.,   1.,   3.,   5.,   0.],
       [  2.,   0.,   2.,   4.,   0.],
       [  3.,   2.,   2.,   7.,   0.],
       [  2.,   0.,   2.,   4.,   0.],
       [  1.,   1.,   2.,   4.,   0.],
       [  4.,   1.,   4.,   9.,   0.],
       [ 27.,  14.,  17.,  58.,   0.],
       [  0.,   1.,   1.,   2.,   0.],
       [  0.,   0.,   8.,   8.,   0.],
       [  4.,   4.,   2.,   1.,   0.],
       [  2.,   0.,   0.,   2.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  0.,   2.,   1.,   3.,   0.],
       [  1.,   0.,   1.,   2.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  0.,   1.,   1.,   2.,   0.],
       [  0.,   0.,   4.,   4.,   0.],
       [  0.,   1.,   3.,   4.,   0.],
       [  1.,   0.,   0.,   1.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  1.,  12.,  14.,  36.,   0.],
       [  7.,   6.,   7.,   2.,   0.],
       [  0.,   1.,   1.,   2.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  4.,   2.,   2.,   8.,   0.],
       [  1.,   2.,   1.,   4.,   0.],
       [  4.,   5.,   5.,  14.,   0.],
       [  1.,   1.,   2.,   4.,   0.],
       [  1.,   0.,   0.,   1.,   0.],
       [  2.,   0.,   1.,   3.,   0.],
       [  6.,   4.,   1.,   2.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [ 38.,  32.,  18.,  88.,   0.],
       [  2.,  28.,  23.,  71.,   0.],
       [  1.,   3.,   0.,   4.,   0.],
       [  0.,   1.,   2.,   3.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  3.,   1.,   5.,   9.,   0.],
       [  1.,   2.,   1.,   4.,   0.],
       [  3.,   1.,   1.,   5.,   0.],
       [  1.,   2.,   0.,   3.,   0.],
       [  3.,   8.,   6.,  17.,   0.],
       [  3.,   6.,   0.,   9.,   0.],
       [  3.,   4.,   6.,  13.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  1.,   0.,   1.,   2.,   0.],
       [  1.,   1.,   0.,   2.,   0.],
       [  2.,   2.,   9.,  13.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  2.,   1.,   1.,   4.,   0.],
       [  1.,   6.,  12.,  19.,   0.],
       [  3.,   0.,   2.,   5.,   0.],
       [  1.,   3.,   0.,   4.,   0.]])

In [32]:
array = np.genfromtxt(ruta, delimiter=",", filling_values=0, skip_header=1)
array

array([[  0.,   1.,   2.,   3.,   0.],
       [  0.,   2.,   2.,   4.,   0.],
       [ 17.,   7.,  22.,  46.,   0.],
       [  1.,   1.,   5.,   7.,   0.],
       [  0.,   3.,   4.,   7.,   0.],
       [  2.,   0.,   0.,   2.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  1.,   3.,   3.,   7.,   0.],
       [  3.,   1.,   3.,   7.,   0.],
       [  1.,   0.,   0.,   1.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  7.,   6.,   8.,  21.,   0.],
       [  3.,   1.,   2.,   6.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  7.,   6.,  11.,  24.,   0.],
       [  2.,   4.,   6.,  12.,   0.],
       [  0.,   4.,   1.,   5.,   0.],
       [  3.,   3.,   2.,   8.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  7.,   3.,   5.,  15.,   0.],
       [  4.,   4.,   3.,  11.,   0.],
       [  3.,   4.,   4.,  11.,   0.],
       [  0.,   3.,   2.,   5.,   0.],
       [  2.,   1.,   0.,   3.,   0.],
       [  1.,   1.,   4.,   6.,   0.],
       [ 39.,  41.,  33., 113.,   0.],
       [  1.,   0.,   1.,   2.,   0.],
       [  1.,   1.,   2.,   4.,   0.],
       [  1.,   0.,   1.,   2.,   0.],
       [  0.,   0.,   2.,   2.,   0.],
       [  1.,  12.,  11.,  33.,   0.],
       [  2.,   5.,   1.,   8.,   0.],
       [  1.,  11.,  16.,  37.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [ 22.,  21.,  22.,  65.,   0.],
       [  2.,   1.,   1.,   4.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  0.,   2.,   3.,   6.,   0.],
       [  6.,   7.,   7.,   2.,   0.],
       [  1.,   2.,   4.,   7.,   0.],
       [  1.,   1.,   3.,   5.,   0.],
       [  2.,   0.,   2.,   4.,   0.],
       [  3.,   2.,   2.,   7.,   0.],
       [  2.,   0.,   2.,   4.,   0.],
       [  1.,   1.,   2.,   4.,   0.],
       [  4.,   1.,   4.,   9.,   0.],
       [ 27.,  14.,  17.,  58.,   0.],
       [  0.,   1.,   1.,   2.,   0.],
       [  0.,   0.,   8.,   8.,   0.],
       [  4.,   4.,   2.,   1.,   0.],
       [  2.,   0.,   0.,   2.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  0.,   2.,   1.,   3.,   0.],
       [  1.,   0.,   1.,   2.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  0.,   1.,   1.,   2.,   0.],
       [  0.,   0.,   4.,   4.,   0.],
       [  0.,   1.,   3.,   4.,   0.],
       [  1.,   0.,   0.,   1.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  1.,  12.,  14.,  36.,   0.],
       [  7.,   6.,   7.,   2.,   0.],
       [  0.,   1.,   1.,   2.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  4.,   2.,   2.,   8.,   0.],
       [  1.,   2.,   1.,   4.,   0.],
       [  4.,   5.,   5.,  14.,   0.],
       [  1.,   1.,   2.,   4.,   0.],
       [  1.,   0.,   0.,   1.,   0.],
       [  2.,   0.,   1.,   3.,   0.],
       [  6.,   4.,   1.,   2.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [ 38.,  32.,  18.,  88.,   0.],
       [  2.,  28.,  23.,  71.,   0.],
       [  1.,   3.,   0.,   4.,   0.],
       [  0.,   1.,   2.,   3.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  3.,   1.,   5.,   9.,   0.],
       [  1.,   2.,   1.,   4.,   0.],
       [  3.,   1.,   1.,   5.,   0.],
       [  1.,   2.,   0.,   3.,   0.],
       [  3.,   8.,   6.,  17.,   0.],
       [  3.,   6.,   0.,   9.,   0.],
       [  3.,   4.,   6.,  13.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [  1.,   0.,   1.,   2.,   0.],
       [  1.,   1.,   0.,   2.,   0.],
       [  2.,   2.,   9.,  13.,   0.],
       [  0.,   1.,   0.,   1.,   0.],
       [  2.,   1.,   1.,   4.,   0.],
       [  1.,   6.,  12.,  19.,   0.],
       [  3.,   0.,   2.,   5.,   0.],
       [  1.,   3.,   0.,   4.,   0.]])

In [34]:
array = np.genfromtxt(ruta, delimiter=",", filling_values=0, skip_header=1, dtype=int)
array

array([[  0,   1,   2,   3,   0],
       [  0,   2,   2,   4,   0],
       [ 17,   7,  22,  46,   0],
       [  1,   1,   5,   7,   0],
       [  0,   3,   4,   7,   0],
       [  2,   0,   0,   2,   0],
       [  0,   1,   0,   1,   0],
       [  1,   3,   3,   7,   0],
       [  3,   1,   3,   7,   0],
       [  1,   0,   0,   1,   0],
       [  0,   0,   1,   1,   0],
       [  7,   6,   8,  21,   0],
       [  3,   1,   2,   6,   0],
       [  0,   0,   1,   1,   0],
       [  7,   6,  11,  24,   0],
       [  2,   4,   6,  12,   0],
       [  0,   4,   1,   5,   0],
       [  3,   3,   2,   8,   0],
       [  0,   0,   1,   1,   0],
       [  7,   3,   5,  15,   0],
       [  4,   4,   3,  11,   0],
       [  3,   4,   4,  11,   0],
       [  0,   3,   2,   5,   0],
       [  2,   1,   0,   3,   0],
       [  1,   1,   4,   6,   0],
       [ 39,  41,  33, 113,   0],
       [  1,   0,   1,   2,   0],
       [  1,   1,   2,   4,   0],
       [  1,   0,   1,   2,   0],
       [  0,   0,   2,   2,   0],
       [  1,  12,  11,  33,   0],
       [  2,   5,   1,   8,   0],
       [  1,  11,  16,  37,   0],
       [  0,   0,   1,   1,   0],
       [ 22,  21,  22,  65,   0],
       [  2,   1,   1,   4,   0],
       [  0,   0,   1,   1,   0],
       [  0,   2,   3,   6,   0],
       [  6,   7,   7,   2,   0],
       [  1,   2,   4,   7,   0],
       [  1,   1,   3,   5,   0],
       [  2,   0,   2,   4,   0],
       [  3,   2,   2,   7,   0],
       [  2,   0,   2,   4,   0],
       [  1,   1,   2,   4,   0],
       [  4,   1,   4,   9,   0],
       [ 27,  14,  17,  58,   0],
       [  0,   1,   1,   2,   0],
       [  0,   0,   8,   8,   0],
       [  4,   4,   2,   1,   0],
       [  2,   0,   0,   2,   0],
       [  0,   0,   1,   1,   0],
       [  0,   2,   1,   3,   0],
       [  1,   0,   1,   2,   0],
       [  0,   1,   0,   1,   0],
       [  0,   1,   1,   2,   0],
       [  0,   0,   4,   4,   0],
       [  0,   1,   3,   4,   0],
       [  1,   0,   0,   1,   0],
       [  0,   1,   0,   1,   0],
       [  1,  12,  14,  36,   0],
       [  7,   6,   7,   2,   0],
       [  0,   1,   1,   2,   0],
       [  0,   1,   0,   1,   0],
       [  4,   2,   2,   8,   0],
       [  1,   2,   1,   4,   0],
       [  4,   5,   5,  14,   0],
       [  1,   1,   2,   4,   0],
       [  1,   0,   0,   1,   0],
       [  2,   0,   1,   3,   0],
       [  6,   4,   1,   2,   0],
       [  0,   0,   1,   1,   0],
       [ 38,  32,  18,  88,   0],
       [  2,  28,  23,  71,   0],
       [  1,   3,   0,   4,   0],
       [  0,   1,   2,   3,   0],
       [  0,   1,   0,   1,   0],
       [  3,   1,   5,   9,   0],
       [  1,   2,   1,   4,   0],
       [  3,   1,   1,   5,   0],
       [  1,   2,   0,   3,   0],
       [  3,   8,   6,  17,   0],
       [  3,   6,   0,   9,   0],
       [  3,   4,   6,  13,   0],
       [  0,   0,   1,   1,   0],
       [  1,   0,   1,   2,   0],
       [  1,   1,   0,   2,   0],
       [  2,   2,   9,  13,   0],
       [  0,   1,   0,   1,   0],
       [  2,   1,   1,   4,   0],
       [  1,   6,  12,  19,   0],
       [  3,   0,   2,   5,   0],
       [  1,   3,   0,   4,   0]])

In [35]:
array_ejemplo=np.array([[1,2,3],[4,5,6]])

In [36]:
ruta2="D:\python\prueba2.csv"

In [38]:
np.savetxt(ruta2, array_ejemplo, delimiter=",")

In [39]:
np.savetxt(ruta2, array_ejemplo, delimiter=",", fmt="%d")

In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.DataFrame({
    "Impares":[1,3,5],
    "Pares":[2,4,6]
})
df

   Impares  Pares
0        1      2
1        3      4
2        5      6

In [43]:
array_np1 = df.values
array_np1

array([[1, 2],
       [3, 4],
       [5, 6]], dtype=int64)

In [45]:
array_np2=df.to_numpy()
array_np2

array([[1, 2],
       [3, 4],
       [5, 6]], dtype=int64)

In [46]:
np.sqrt(df)

    Impares     Pares
0  1.000000  1.414214
1  1.732051  2.000000
2  2.236068  2.449490

In [48]:
np.max(df)

C:\Users\Leonardo\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

Impares    5
Pares      6
dtype: int64

In [52]:
df_desde_np = pd.DataFrame(array_np1)
df_desde_np

   0  1
0  1  2
1  3  4
2  5  6

In [53]:
df_desde_np = pd.DataFrame(array_np1, columns=["Col1","Col2"])
df_desde_np

   Col1  Col2
0     1     2
1     3     4
2     5     6